#promotion-banner {
    position: fixed;
    bottom: 0; /* 将其固定在页面底部 */
    left: 0; /* 确保从左侧开始 */
    width: 100%; /* 占满整个宽度 */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* 增加一些内边距以改善视觉效果 */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000; /* 提高 z-index 以确保在其他内容之上 */
}

#promotion-banner .promo-logo {
    flex-shrink: 0;
}

#promotion-banner .promo-logo img {
    width: 10vw;
    height: 10vw;
    min-width: 40px;
    min-height: 40px;
}

#promotion-banner .promo-text {
    flex-grow: 1; /* 让文本部分占据剩余空间 */
    overflow: hidden;
    padding: 0 10px; /* 增加内边距以改善文本与边界的距离 */
    color: green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

#promotion-banner .promo-button {
    flex-shrink: 0;
    background-color: #006400;
    color: #fff;
    padding: 5px 15px; /* 增加按钮的内边距 */
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

#promotion-banner .promo-button:hover {
    background-color: #004d00;
}

#promotion-banner .promo-close {
    flex-shrink: 0;
    cursor: pointer;
    font-size: 18px;
    color: red;
    padding: 0 10px; /* 增加关闭按钮的内边距 */
    width: 30px;
    text-align: center;
}
